p {
    display: flex;
}

div {
    margin-left: 1px;
    border: 1px;
    border-color: black;
    border-style: solid;
    font-size: 2rem;
    width: 25px;
    text-align: center;
}

.row {
    margin-bottom: -15px;
}

p:nth-child(3n + 3) {}

span {
    margin-left: 5px;
}

.break {
    margin: 20px;
    border-style: none;
}